//@import './buttons.scss';

.btn{
    background: transparent;
    border: 2px solid $color-gray-50;
    padding: 0 20px;
    line-height: 20px;
    height: 44px;
    font-weight: 300;
    color:  $color-gray-50;
    background-color: $color-white;
    outline: none;

    @include transition(all .1s ease-in-out);
    @include border-radius(30px);

    &:hover{
        border-color: transparent;
        background-color: $color-gray-50;
        color: $color-white;
    }

    &:active{
        color: $color-white;
        background-color: darken($color-gray-50,15%);
    }
    
    &.btn-primary:hover{
        border-color: transparent;
        background-color: $color-blue;
    }
} 


