//
//  Colors
//
//  Colors palette.
//  
//  @project    WeatherApp
//  @package    base
//  @author     Thiago Corbalan
//
//


$color-white:   #ffffff;

$color-gray-10: #B4B4B4;
$color-gray-20: #F1F1F1;
$color-gray-30: #EBEBEB;
$color-gray-40: rgba(#333333,.1);
$color-gray-50: #737C84;

$color-blue: #69A3FF;
$color-yellow: #FF9632;
$color-pink: #ed1946;