//
//  Mixins
//  
//  @project    WeatherApp
//  @package    base
//  @author     Thiago Corbalan
//
//


@mixin cross-browser($property, $value){
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    #{$property}: $value;
}

@mixin border-radius($border-radius: $radius-base ){
    @include cross-browser(border-radius, $border-radius);
}

@mixin box-shadow($value){
    @include cross-browser(box-shadow, $value);
}
@mixin box-sizing(){
    @include cross-browser(box-sizing, border-box);
}

@mixin font-face(
    $font-name, // Nome da fonte
    $font-file-name, // Nome do arquivo da fonte
    $font-weight: normal, // Larguda da fonte (normal|bold|bolder|lighter|100|200|300|400|500|600|700|800|900|initial|inherit)
    $font-style:normal, // Estilo da fonte (normal|italic|oblique|initial|inherit)
    $font-url:  '../fonts/', // Url padrão de onde estão loicalizadas as fontes
    $font-path: "" // Pasta da fonte
    ){
        $svg-id: replace($font-file-name,"-","_");

        @font-face {
            font-family: $font-name;
            src: url('#{$font-url}#{$font-path}#{$font-file-name}.otf');
            src: url('#{$font-url}#{$font-path}#{$font-file-name}.woff') format('woff'),
                 url('#{$font-url}#{$font-path}#{$font-file-name}.ttf') format('truetype'),
                 url('#{$font-url}#{$font-path}#{$font-file-name}.svg#${svg-id}') format('svg');
            font-weight: $font-weight;
            font-style: $font-style;
        }
}

