//
//  Index
//  
//  @project    WeatherApp
//  @package    layout
//  @section    header
//  @author     Thiago Corbalan
//

.app-wea .container{
    .main-content{ 
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        min-height: 600px;
        text-align: center;
        padding: 30px;
        @media (max-width: $screen-xs){
            min-height: auto;
        }
    }
}